# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# SAM / AWS build artifacts
.aws-sam/
samconfig.toml
sam-installation/
*.zip

# Environment secrets
.env
.env.*

# OS
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build outputs
dist
dist-ssr
logs
*.log
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
